<%= form_for(@person) do |f| %>
  <% if @person.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@person.errors.count, "error") %> prohibited this person from being saved:</h2>

      <ul>
      <% @person.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :First_name %><br>
    <%= f.text_field :First_name %>
  </div>
  <div class="field">
    <%= f.label :Last_name %><br>
    <%= f.text_field :Last_name %>
  </div>
  <div class="field">
    <%= f.label :Email %><br>
    <%= f.text_field :Email %>
  </div>
  <div class="field">
    <%= f.label :Date_of_birth %><br>
    <%= f.date_select :Date_of_birth %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
