<p id="notice"><%= notice %></p>

<p>
  <strong>Vin:</strong>
  <%= @vehicle.Vin %>
</p>

<p>
  <strong>Year:</strong>
  <%= @vehicle.Year %>
</p>

<p>
  <strong>Make:</strong>
  <%= @vehicle.Make %>
</p>

<p>
  <strong>Model:</strong>
  <%= @vehicle.Model %>
</p>

<p>
  <strong>Engine type:</strong>
  <%= @vehicle.Engine_type %>
</p>

<p>
  <strong>Licence plate:</strong>
  <%= @vehicle.Licence_plate %>
</p>

<%= link_to 'Edit', edit_vehicle_path(@vehicle) %> |
<%= link_to 'Back', vehicles_path %>
